@font-face {
    font-family: "Spartan-Regular";
    src        : url("../font/Spartan-Regular.ttf");
}

@font-face {
    font-family: "Spartan-Light";
    src        : url("../font/Spartan-Light.ttf");
}

@font-face {
    font-family: "Spartan-ExtraBold";
    src        : url("../font/Spartan-ExtraBold.ttf");
}

@font-face {
    font-family: "Spartan-SemiBold";
    src        : url("../font/Spartan-SemiBold.ttf");
}

@font-face {
    font-family: "Spartan-Medium";
    src        : url("../font/Spartan-Medium.ttf");
}

@font-face {
    font-family: "Spartan-Bold";
    src        : url("../font/Spartan-Bold.ttf");
}

html {
    height: 100%;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    box-sizing        : border-box;
}

body {
    display        : flex;
    justify-content: center;
    font-family    : 'Spartan-Regular';
    margin         : 0;
    font-size      : 14px;
    line-height    : 20px;
    color          : #333;
    background     : #191F27;
}

/* Index */

.div-main {
    padding-left       : 20px;
    padding-right      : 20px;
    display            : flex;
    width              : 100%;
    height             : 100vh;
    max-width          : 430px;
    flex-direction     : column;
    justify-content    : space-between;
    background         : url('../img/bg.png');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: center;
    overflow: hidden;
}

/* LOGO */
.logo {
    margin       : 0 auto;
    margin-top   : 80px;
    margin-bottom: 24px;
}

.logo img {
    width: 156px;
}

/* BTN */
.btn {
    display: flex;

    font-size: 20px;


    width          : 100%;
    height         : 64px;
    background     : #00AD9E;
    border-radius  : 16px;
    justify-content: center;

    line-height   : 70px;
    letter-spacing: -0.408px;
    color         : #FFFFFF;
    font-family   : 'Spartan-SemiBold';
    cursor        : pointer;
}

/* TEXT */

h1 {
    width         : 353px;
    font-family   : 'Spartan-ExtraBold';
    font-size     : 31px;
    line-height   : 46px;
    align-items   : center;
    text-align    : center;
    letter-spacing: 0.35px;
    color         : #FFFFFF;
}

h2 {
    font-family   : 'Spartan-SemiBold';
    font-size     : 15px;
    line-height   : 23px;
    text-align    : center;
    letter-spacing: -0.24px;
    color         : #C6CCD2;
}

.desc_text {
    font-family   : 'Spartan-SemiBold';
    font-size     : 10px;
    line-height   : 11px;
    text-align    : center;
    letter-spacing: -0.24px;
    color         : #999999;
}

/* Modal */
.fade {
    position  : fixed;
    display   : none;
    z-index   : 999;
    left      : 0;
    top       : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(0, 0, 0, .5);
    overflow  : auto;
}

.modal {
    position          : absolute;
    top               : calc(50% - 600px / 2);
    left              : 50%;
    -webkit-transform : translate(-50%, 0%);
    -ms-transform     : translate(-50%, 0%);
    transform         : translate(-50%, 0%);
    background        : #F5F5F5;
    max-width         : 1080px;
    width             : 90%;
    height            : 600px;
    padding           : 1em;
    z-index           : 1001;
    -webkit-transition: all 0.5s ease;
    -o-transition     : all 0.5s ease;
    transition        : all 0.5s ease;
    opacity           : 0;
    visibility        : hidden;
    border-radius     : 16px;
    border            : none;
}

.active {
    opacity   : 1;
    visibility: visible;
}

.close {
    width        : 30px;
    height       : 30px;
    text-align   : center;
    line-height  : 36px;
    background   : #00AD9E;
    border-radius: 180px;
    color        : #ffffff;
    position     : absolute;
    right        : -15px;
    top          : -15px;
    font-size    : 2em;
    cursor       : pointer;
}

.pp_text {
    width     : 100%;
    height    : 100%;
    overflow-x: hidden;
    /* прокрутка по горизонтали */
    overflow-y: scroll;
    /* прокрутка по вертикали */

    font-family: 'Spartan-SemiBold';
}

.pp_text h1 {
    color: black;

    text-align : left;
    font-family: 'Spartan-SemiBold';
}

/* ---------- */
/* First Block */
.first_block {
    width          : 100%;
    height         : 100%;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.fblock_items {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.fblock_items h1 {
    margin-bottom: 48px;
}

.fblock_items h2 {
    margin-bottom: 30px;
}

.fblock_items .btn {
    margin-bottom: 36px;
}

.fblock_items .pp {
    margin-top   : 5px;
    margin-bottom: 37px;
}

.pp {
    display        : flex;
    width          : 100%;
    justify-content: center;
}

.pp .desc_text {
    cursor: pointer;
}

/* questions_block */

#progress {
    width        : 260px;
    height       : 8px;
    padding      : 0;
    margin       : 0;
    font-size    : 0;
    position     : relative;
    border       : 1px solid #c4c4c4;
    background   : #fafafa;
    box-sizing   : border-box;
    overflow     : hidden;
    border-radius: 10px;
}

#progress span {
    position          : absolute;
    top               : 0;
    bottom            : 0;
    left              : 0;
    padding           : 0;
    margin            : 0;
    font-size         : 0;
    max-width         : 100% !important;
    background        : #00AD9E;
    -webkit-transition: right 1s ease 0.2s;
    -moz-transition   : right 1s ease 0.2s;
    -o-transition     : right 1s ease 0.2s;
    transition        : right 1s ease 0.2s;
}

.counter {
    margin-left   : 16px;
    text-transform: uppercase;
    text-align    : center;
    font-size     : 15px;
    color         : #ffffff;
}

.counter span {
    font-weight: 400;
    font-size  : 17px;
    color      : #222;
}

.counter .quantity {
    font-size: 15px;
    color    : #999999;

}



.questions_block {
    width          : 100%;
    height         : 100%;
    display        : none;
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
}

.questions_block .btn {
    margin-bottom: 100px;
}

#questions_box .step {
    display: none;
}

#coll_data_text1,
#coll_data_text2,
#coll_data_text3,
#coll_data_text4 {
    display: none;
}

/* Coments */

.coments_slider {
    width        : 353px;
    margin       : 0 auto;
    margin-bottom: 138px
}

.coments {
    width: 100%;
}

.coments_item {
    width          : 353px;
    height         : 200px;
    background     : rgba(25, 31, 39, 0.8);
    backdrop-filter: blur(0.5px);
    margin         : 0 auto;
    border-radius  : 16px;
    border         : 1px solid #00AD9E;
    padding-left   : 16px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

.coments_item_icon {
    display    : flex;
    align-items: center;
}

.coments_item_icon img {
    width       : 59px;
    height      : 59px;
    margin-right: 16px;
}

.icon_text_name {
    font-family  : 'Spartan-Medium';
    color        : #00AD9E;
    font-size    : 14px;
    margin-bottom: 5px;
}

.icon_text_ver {
    font-family: 'Spartan-Medium';
    color      : #ffffff;
    font-size  : 14px;
}

.coments_item_stars img {
    width : 140px;
    height: 44px;
}

.coments_item_text {
    font-family: 'Spartan-Medium';
    color      : #ffffff;
    font-size  : 14px;
    line-height: 125%;
    width      : 270px;
}

.bx-wrapper {
    border    : none;
    background: none;
    box-shadow: none;

}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #999999;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #00AD9E;
}

/* Questions */
.answer-btns {
    display: flex;
}

.l_trans {
    width       : 158px;
    background  : transparent;
    border      : 2px solid #00AD9E;
    color       : #00AD9E;
    margin-right: 18px;
}

.l_blue {
    width      : 158px;
    margin-left: 18px;
}

.one_answer {
    text-align: center;
}

.one_answer img {
    height: 76px;
    width : auto;
}

.one_answer_text {

    width         : 353px;
    height        : 111px;
    font-family   : 'Spartan-Medium';
    font-size     : 20px;
    line-height   : 37px;
    text-align    : center;
    letter-spacing: 0.35px;
    color         : #FFFFFF;
    margin-bottom : 200px;
}

.email_text {
    width         : 353px;
    height        : 85px;
    font-family   : 'Spartan-Medium';
    font-size     : 20px;
    line-height   : 37px;
    text-align    : center;
    letter-spacing: 0.35px;
    color         : #FFFFFF;

}

.input_mail {
    margin-bottom: 280px;
}

#email {
    width        : 100%;
    height       : 64px;
    border-radius: 16px;
    background   : #31353D;
    padding      : 0;
    border       : none;
    font-size    : 20px;
    font-family  : 'Spartan-Medium';
    color        : #ffffff;
    padding-left : 66px;

}

#email:focus {

    border-color: #00AD9E;
    outline     : 0;
    box-shadow  : 0 0 0 2px #00AD9E;
}

.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content    : '';
    color      : #757575;
    position   : absolute;
    display    : flex;
    align-items: center;
    top        : 0;
    bottom     : 0;
    left       : 20px;
    top        : 50%;
    transform  : translateY(-50%);
}

.text-field__icon .text-field__input {
    padding-left: 2rem;
}

/* email значок */
.text-field__icon_email::before {
    width              : 30px;
    background-image   : url("../img/input.svg");
    background-repeat  : no-repeat;
    background-position: center;
}

.label_form {
    font-family: 'Spartan-SemiBold';
    font-size  : 10px;
    color      : #999999;
    position   : relative;
    top        : 0px;
}

.btn:enabled {
    border    : none;
    box-shadow: none;
}

.btn:disabled {
    background: #999999;
}

#result-box {
    display: none;
}

/* Final Block */


.final_block {
    width          : 100%;
    height         : 100%;
    display        : none;
    flex-direction : column;
    justify-content: space-between;
}

.final_block .btn_space {
    height       : 64px;
    margin-bottom: 100px;
}

#indicatorContainerWrap {
    display        : flex;
    justify-content: center;
}

#indicatorContainerWrap_ready {
    width          : 172px;
    height         : 172px;
    margin         : 0 auto;
    border-radius  : 180px;
    border         : 16px solid #00AD9E;
    display        : flex;
    align-items    : center;
    justify-content: center;

}

.coll_data_work {
    height: 360px;
}

.coll_data_ready {
    display            : none;
    background         : url('../img/ready.gif');
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: center;
}

#to_final_lend {
    display: none;
}

.line_mail {
    position     : absolute;
    background   : #042E2A;
    border-radius: 6px;
    padding      : 8px 6px 8px 6px;
    color        : #317A72;
    display      : flex;
    margin-top   : 21px;
    font-weight  : 600;
    right        : 20px;
}



/* Lend */

.div_lend {
    padding-left : 20px;
    padding-right: 20px;
    display      : none;
    width        : 100%;

    max-width             : 430px;
    flex-direction        : column;
    align-items           : center;
    /* background         : url('../img/bg.png');
    background-repeat     : no-repeat;
    background-size       : contain;
    background-position   : center; */

}

h4 {

    font-family   : 'Spartan-ExtraBold';
    font-size     : 24px;
    line-height   : 36px;
    align-items   : center;
    text-align    : center;
    letter-spacing: 0.35px;
    color         : #FFFFFF;
}

.desc_text_lend {
    margin-top: 24px;
}

.div_lend .pp {
    margin-top: 8px;
}

.price_frame {
    width          : 100%;
    height         : 126px;
    background     : #00AD9E;
    padding        : 3px;
    border-radius  : 16px;
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    margin-bottom  : 16px;

}

.price_frame_1block {
    font-family: 'Spartan-ExtraBold';
    font-size  : 20px;

    align-items   : center;
    text-align    : center;
    letter-spacing: 0.35px;
    color         : #FFFFFF;
    margin-top    : 14px;
}

.price_frame_2block {
    width          : 100%;
    height         : 75px;
    background     : #FFFFFF;
    display        : flex;
    border-radius  : 0px 0px 16px 16px;
    /* padding-left: 16px;
    padding-right  : 16px; */
    align-items    : center;
    justify-content: space-around;
}

.price_frame_2block_price {
    width          : 130px;
    height         : 60px;
    background     : #00AD9E;
    border-radius  : 16px;
    display        : flex;
    align-items    : center;
    justify-content: space-around;

}

.price_frame_2block_price_real {
    font-family   : 'Spartan-Bold';
    font-size     : 15px;
    letter-spacing: 0.35px;
    color         : white;
    position      : relative;
    top           : -10px;
}

.price_frame_2block_price_old {
    font-family   : 'Spartan-Bold';
    color    : rgba(255, 255, 255, 0.6);
    font-size: 15px;
}

.price_frame_2block_time_time {
    font-family   : 'Spartan-Bold';
    font-size     : 20px;
    letter-spacing: 0.35px;
    color         : #191F27;
}

.price_frame_2block_time_blocks {
    display    : flex;
    align-items: center;
}


/* Lend Slide */
.lend_slider {

    width    : 100%;
    max-width: 430px;

    margin          : 0 auto;
    margin-top      : 24px;
    /* margin-bottom: 138px */

}

.lend_slider_item {
    width          : 100% !important;
    height         : 625px;
    background     : #191F27;
    
    margin         : 0 auto;
    border-radius  : 16px;
    border         : 1px solid #00AD9E;
    padding-left   : 16px;
    display        : flex;
    flex-direction : column;
    justify-content: left;
    padding-left   : 20px;
    padding-right  : 20px;
}

.lend_slider_item img {
    width: 193px;

    margin       : 0 auto;
    margin-top   : 24px;
    margin-bottom: 16px;
}

.list_item {
    display    : flex;
    align-items: baseline;
}

.list_item img {
    width        : 20px;
    margin       : 0;
    margin-right : 14px;
    margin-top   : 5px;
    margin-bottom: 0px;
}

.list_item_text {
    font-size     : 18px;
    line-height   : 31px;
    letter-spacing: 0.35px;
    color         : #FFFFFF;
    font-family   : 'Spartan-Light';
}

#FAQ {
    width    : 100%;
    max-width: 430px;
}

.ex_head {
    font-size  : 20px;
    flex-basis : 233px;
    flex-shrink: 0;
}

.ex_container {
    border-radius   : 4px;
    background-color: transparent;
}

.ex_hdr_cont {
    padding         : 4px 20px 4px 20px;
    min-height      : 48px;
    transition      : min-height 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: transparent;

}

.ex_row_frame {
    border-radius   : 0;
    position        : relative;
    transition      : margin 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow      : none;
    background-color: #fff;
    margin-bottom   : 16px;
    border-radius   : 16px;
}

.ex_row_frame:first-child {
    border-top-left-radius : 16px;
    border-top-right-radius: 16px;
}

.ex_row_frame:last-child {
    border-bottom-left-radius : 16px;
    border-bottom-right-radius: 16px;
}

.ex_svg_cont {
    color: black;
}

.ex_head {
    font-family   : 'Spartan-Bold' !important;
    font-size     : 20px;
    line-height   : 24px;
    letter-spacing: 0.35px;
    color         : #191F27;
}

.typograph {
    font-family   : 'Spartan-Regular';
    font-size     : 20px;
    line-height   : 24px;
    letter-spacing: 0.35px;
    color         : black;
}

#modal_3 iframe{
    width: 100%;
    height: 100%;
}

@media (max-width:430px) {
    .div-main {
        background: url('../img/bg_mob.png');
    }
}